<div class="welcome">
  <div class="verify-form">
    <form role="form" class="verify-form">
      <div class="form-group drexelOneId">
        <label for="drexelOneId">DrexelOne Id</label>
        <input class="form-control" id="drexelOneId" placeholder="Just your user id">
      </div>
      <div class="form-group firstName">
        <label for="firstName">First Name</label>
        <input class="form-control" id="firstName" placeholder="">
      </div>
      <div class="form-group lastName">
        <label for="lastName">Last Name</label>
        <input class="form-control" id="lastName" placeholder="">
        <span class="help-block">Please enter your official name registered with Drexel.</span>
      </div>
      <button type="submit" class="btn btn-default" id="verifyMe" data-toggle="tooltip" data-placement="right" title="Don't leave any fields empty.">Verify Me</button>
    </form>
  </div>
</div>