<div class="welcome">
  <div class="verify-form">
    <form role="form" class="verify-form">
      <div class="form-group drexelOneId">
        <h4>Your DrexelOne ID</h4>
        <input class="form-control" id="drexelOneId" placeholder="abc123"/>
      </div>
      <button type="submit" class="btn btn-default" id="submit">Submit</button>
    </form>
  </div>
</div>